# Shared local development hints
WEB_PORT=3000
API_GATEWAY_PORT=4000
CHAT_SERVICE_PORT=4001
MODEL_SERVICE_PORT=4002
SESSION_SERVICE_PORT=4003
METRICS_SERVICE_PORT=4004
OLLAMA_ADAPTER_PORT=4005
OLLAMA_BASE_URL=http://host.docker.internal:11434
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=
OLLAMA_TIMEOUT_MS=60000
OLLAMA_USE_STUB=false
